* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: black;

}
nav {

    height: 4.25em;
    background: darkgrey;
}
ul {
    display: flex;
    list-style: None;
    padding: 0;
    margin: 0;
    align-items: center;
    height: 100%;
    font-size: smaller;

}
nav a {


    text-decoration: none;
    color: black;
    font-family: 'Montserrat',Work Sans, sans-serif;
    display: inline-block;
    padding: 1em;

}
nav a:hover {
    background: blue;
}
nav ul li:nth-child(5) {
    margin-left: auto;
    font-size: 3em;
    padding: 0px;
    position: relative;

}
nav ul li:nth-child(6) {
    margin-left: auto;

    }
