* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {

    height: 4.25em;
    background: darkgrey;
    position: relative;

}
ul {
    height: 100%;
    /*width: 100%;*/
    display: flex;
    list-style: None;
    padding: 0;
    margin: 1;
    align-items: center;
    font-size: smaller;

}
li {
    z-index: 1;
    height: 100%;

}
nav a {


    text-decoration: none;
    color: black;
    font-family: 'Montserrat',Work Sans, sans-serif;
    display: inline-block;
    padding: 1em;

}
nav a:hover {
    background: blue;
}
nav ul li:nth-child(5) {
    height: 100%;
    width: 100%;
    font-size: 3em;
    position: absolute;
    justify-content: center;
    z-index: 0;
    display: flex;


}
nav ul li:nth-child(6) {
    margin-left: auto;
        }
