* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav {

    height: 4.25em;
    background: #333333;
}
ul {
    display: flex;
    list-style: None;
    padding: 0;
    margin: 1em;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}
nav a {
    height: 100%;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat','Work Sans', sans-serif;
    display: inline-block; /* inline-block to increase clickable area beyond the text */
    padding: 1em; /* increases clickable area of anchor tags on all sides by 1em */
}
nav a:hover {
    background: blue;
}
nav ul li:nth-child(5) {
    margin-left: auto;
    font-size: 3em;
}
nav ul li:nth-child(6) {
    margin-left: auto;

    }
