.alert-info {
     border: 5px solid darkgrey;
    background:lightblue ;
    text-align: center;
    padding: 10px;
    text
}



@media screen and (min-width: 768px) {
    .query{
        background: purple;
        text-align: center;
    }
}



@media screen and (min-width: 1200px) {
    .query{
        background: yellow;
        text-align: center;
    }
}