.fancy-header{
    color: red;

}
h1, h2 {
    text-decoration: underline;
}

body{
    background: blanchedalmond;
    font-family: 'Sansita Swashed', cursive;
    background-image: url(../photos/londonnight.jpg);
}

ul {
    list-style: square;
}

